#sticky {
  position: sticky; bottom:54%;right:85%;width:2%;
  position: -webkit-sticky;
  background: #f83d23;
  width: 400px;
  height: 150px;
  top: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 6px #000;
  color: #fff;
  z-index: 1
}
.extra,
#wrapper {
  width: 100%;
  margin: auto;
  background-color: #000;
}
#wrapper {
  height: 800px;
}
.extra {
  height: 100px;
}

@media (min-height: 768px) {
  #wrapper{
    height: 2000px;
  }
}